 *{
                margin: 0;
                padding: 0;

            }
            body{
                background-color: antiquewhite;
            }
            nav{
                    flex: 1;
                    padding-left: 55%;
            }
            h1{
                padding: 0;
                margin: 5px;
                width: 300px;
                
            }
            a{
                text-decoration: none;
                color: #89BF04;
            }
            label{
                font-family: 'Courier New', Courier, monospace;
                
            }
            section{
                    max-width: 500px;
                    margin: 10px auto;
                    background: white;
                    padding: 30px;
                    border-radius: 6px;
                }

            .barraFix{
                    position: static;
                    top: 0px;
                    left: 0;
                    right: 0;
                    height: 80px;
                    background-color: #005F71;
                    border-radius: 0 0 20px 20px;
                    display: flex;
                    position: static;
                    justify-content: center;
                    align-items: center;
                
            }
            .menu{
                position: static;
                justify-content: center;
                align-items: center; 
                width: 200px;
            }
            .Titulo{
                color: rgb(255, 255, 255);
                font-size: 40px;
            }
            
            .inputs{
                position: static;
                display: inline-block;
                margin-top: 20px;
                width: 50%;
                height: 50px;

            }
            img{
                width: 100px;
                height: auto;
                background-color: white;
                margin-left: 10px;
                border-radius: 15px ;
            }
            .botao{
                
            }
            
            