<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='estilo.css') }}">
    </head>

    <body>
        <header>
            <div class="barraFix">
                <img src="{{ url_for('static', filename='LogoFG.png') }}" alt="" class="LogoFG">
            <h1 class="Titulo">Site Python Teste</h1>
            <nav class="menu">
                <a href="https://portal.smartshare.com.br/fg/SmartShareAPI/Swagger/ui/index#/">Swagger Smart Share</a>
            </nav>
        </div>
        </header>
        <br>
        <section>
            <h1>Anvançar Fluxo</h1>
        <div class="inputs">
            <label for="Código do Fluxo">Código do Fluxo</label>
            <input type="number" id="CdFluxo" placeholder="Código do CodigoFluxo">
            
            <button class="botao" type="button" onclick="enviar()">Enviar</button>
        </div>
    </section>
    </body>

    <script href="{{url_for('static', filename='InfoEnv.js')}}"></script>

</html>